<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo1.jpg"
             class="img-responsive center-block"
             style="max-height: 500px; padding-bottom: 50px" />
             </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Jibin John</h3>
        <br />
      </div>
    </div>
  </div>
</div>
<footer>Image by <a href="https://www.freepik.com/free-vector/image-upload-concept-landing-page_5749408.htm#query=jpg%20file&position=3&from_view=keyword&track=ais">Freepik</a>
      
</footer>